<section class="h-full bg-slate-500" style="width: 100%">
    <div class="cont h-full w-full">
        <div>Tablero rival</div>
        <div class="header grid">
            <div *ngFor="let columna of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]">{{ columna }}</div>
        </div>
        <div class="aside">
            <div>a</div>
            <div>b</div>
            <div>c</div>
            <div>d</div>
            <div>e</div>
            <div>f</div>
            <div>g</div>
            <div>h</div>
        </div>
            <div class="contenido grid grid-rows-8">
                <div *ngFor="let fila of tablero_rival; let i = index" class="fila"> 
                    <div *ngFor="let columna of fila; let j = index" class="columna">
                        <div class="cont-casilla" 
                            (click)="casilla_selected(i, j)"
                            [ngClass]="{'has_boat': columna === 1, 'select': columna === 2}">
                            {{ columna == 0 ? '' : columna }}
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>
