<app-loader-type-one *ngIf="submitting" />
<main class="h-full w-full flex justify-center items-center " style="height: 100vh;">
    <div class="flex justify-center items-center flex-col gap-2">
        <h1>Ingresa el codigo</h1>
        <form [formGroup]="codeForm" (ngSubmit)="verifyCode()" class="flex justify-center items-center flex-col gap-2">
            <input formControlName="code" type="text" placeholder="Codigo" class="input">
            <div class="btn-contain">
                <button type="submit">
                    <span>Enviar</span>
                </button>
            </div>
        </form>
    </div>
</main>
