<main class="h-full w-full flex justify-center items-center " style="height: 100vh;">
    <div class="flex justify-center items-center flex-col gap-2">
        <h1>Ingresa el codigo</h1>
        <form action="" class="flex justify-center items-center flex-col gap-2">
            <input type="text" placeholder="Codigo" class="input">
            <div class="btn-contain">
                <button>
                    <span>Enviar</span>
                </button>
            </div>
        </form>
    </div>
</main>